* {
    margin: 0;
    padding: 0;
}

.section-article {
    background-color: #4C1FB0;
    color: white;
    padding: 25vh 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    font-weight: 600;

}

.container-article {
    display: flex;
    flex-direction: column;
}


@media (min-width: 1200px) {
    .shrink-xl-50 { /* diminui tamanho do container quando a tela é grande */
        width: 50%;
    }
}
