* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

.header {
    background-color: #5C22C2; /* Cor roxa do topo */
    color: #fff;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 3rem;
}

.content, .arduino, .pratico {
    padding: 2rem;
    color: white;
}

.content {
    background-color: #262294; /* Fundo escuro do texto */
}

.content h2, .arduino h2, .pratico h2 .tinkercad h2 .codigo h2 .programação_projetos h2 .projeto1 h2 .projeto2 h2 .projeto3 h2 .codeprojeto3 h2 .Recursos h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.content p, .arduino p, .pratico p .tinkercad p .codigo p .programação_projetos p .projeto1 p .projeto2 p .projeto3 p .codeprojeto3 p .Recursos p{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.arduino {
    background-color: #4C1FB0; /* Fundo arroxeado */
}

.pratico {
    background-color: #4b0082; /* Fundo adicional */
}

.pratico pre {
    background-color: #333399;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
}

.tinkercad {
    background-color: #3B1B89; /* Fundo roxo escuro */
    color: white;
    padding: 2rem;
    
}


.tinkercad h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.tinkercad ul, .tinkercad ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.tinkercad li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.codigo {
    background-color: #262294; /* Fundo azul escuro */
    color: white;
    
    
    font-family: 'Courier New', Courier, monospace;
}

.codigo h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}

.copy-button {
    background-color: #5C22C2; /* Roxo escuro */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #3B1B89; /* Roxo mais claro */
}

.code-block {
    background-color: #3B1B89; /* Fundo roxo */
    color: white;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto; /* Permite rolagem horizontal */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.6;
}

.programação_projetos {
    background-color: #3B1B89; /* Fundo roxo escuro */
    color: white;
    padding: 2rem;
    
    
}


.programação_projetos h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.programação_projetos ul, .programação_projetos ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.programação_projetos li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

h1 {
    font-size: 24px;
  }

  
.projeto1{
    background-color: #5C22C2;
    color: white;
}

.projeto2 {
    background-color: #3B1B89;
    color: white;
}

.projeto3 {
    background-color: #5C22C2;
    color: white;
}

.codeprojeto3 {
    background-color: #3B1B89;
    color: white;

}

.Recursos {
    background-color: #5C22C2;
    color: white;
}
