* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

.header {
    background-color: #5C22C2; /* Cor roxa do topo */
    color: #fff;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 3rem;
}

.content {
    background-color: #262294; /* Fundo escuro do texto */
    color: #fff;
    padding: 2rem;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.content p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.content .example {
    font-weight: bold;
}

.arduino{
    background-color: #4C1FB0;
    color:white;
    padding: 2rem;
}

.arduino h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.arduino p{
    margin-bottom: 1rem;
    font-size: 1rem;
}   